
.locationList {
    height: 85vh;
    /* background-color: red; */
}

@media (max-width: 64em) {

    .locationList {
        /* background-color: green; */
        max-height: 45vh;
        overflow: auto;
        margin-bottom: 20px;
    }    
}

.forecast-title {

    color: #fff;
    text-align: center;
    padding: 15px 0px;
}